.footer__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__link + .footer__link{
    margin-left: 15px;
}

.footer__text{
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 500;
    color: #ffa500;
}

@media only screen and (max-width: 820px){
    .footer__content{
        display: block;
        text-align: center;
    }
}
@media only screen and (max-width: 460px){
    .footer__link-img{
        width: 30px;
        height: 30px;
    }
    .footer__text{
        font-size: 14px;
        line-height: 1.7em;
        font-weight: 500;
        color: #ffa500;
    }
}